In [8]:
import findspark
findspark.init()

from pyspark import SparkContext
from pyspark.sql import SQLContext

spark = SparkSession\
    .builder\
    .appName("spark mysql")\
    .getOrCreate()    

df = spark.read\
    .format("jdbc")\
    .option("url", "jdbc:mysql://localhost:3306")\
    .option("dbtable", "company.employ")\
    .option("user", "root")\
    .option("password", "123456")\
    .load()

In [9]:
df.show()

+---+------------------+------+
| id|              name|salary|
+---+------------------+------+
|  1|Arham aalam ansari| 45000|
|  2|          exaample| 65000|
|  3|              dumy|  5000|
|  4|              jack| 47800|
+---+------------------+------+